export_alias chkl "valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --undef-value-errors=yes --show-reachable=yes --show-possibly-lost=yes --expensive-definedness-checks=yes -s ./.b build"
export_alias chkt "valgrind --tool=helgrind -s ./.b build"
export_alias chks "clang --analyze -Xanalyzer -analyzer-output=html cforge.c && cppcheck --enable=all --std=c11 --suppress=missingIncludeSystem --check-level=exhaustive cforge.h"
